body {
    margin: 0;
    padding: 0;
    cursor: url('../../assets/cursor.png'), pointer;
}

.character-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}


.filter-character-page {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.699);
    backdrop-filter: blur(9px);
}

.info-character {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1px;
    background-color: transparent;
}

.image-character {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position: top;
}

.info-champions-text {
    width: 95%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid rgb(131, 131, 131);
    border-top: none;
    border-radius: 2px;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.856);
}

.champions-character-texts {
    /*backdrop-filter: blur(5px);*/
    width: 100%;
    height: 200px;
    position: absolute;
    top: -31%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

.subtitle-character-page {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 1%;
    text-transform: uppercase;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.85);
}


.title-character-page {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 100px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    /*text-shadow: 0px 0px 10px rgba(16,16,16,0.7);*/
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.85);
}

.content-characters-page-description {
    width: 100%;
    height: 100;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.character-page-description-type {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character-page-history {
    width: 50%;
    height: 80%;
    border-left: 1px solid rgb(131, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-type-history {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filter-image-character {
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(0deg,
            hsl(0deg 0% 2%) 0%,
            hsla(0, 0%, 71%, 0) 50%,
            hsla(0, 0%, 100%, 0) 100%);*/
    background-image: linear-gradient(0deg,
            hsl(0, 0%, 0%) 0%,
            hsla(0, 0%, 71%, 0) 50%,
            hsla(0, 0%, 100%, 0) 100%);
    ;
}

.title-description-role {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    margin-bottom: 2%;
}

.description-content-type img {
    width: 40px;
    height: 40px;
    margin-bottom: 1%;
}

.type-description-character {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    margin-bottom: 1%;
}

.description-content-type {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description-content-function {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-function-character {
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
    margin-top: 2%;
    color: #CBAB70;
}

.text-content-history {
    font-size: 16px;
    width: 80%;
}

/*skills page*/

.content-video-skills-champions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-skill {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.description-skill-champions {
    width: 50%;
    height: 70%;
    /*background-color: yellow;*/
    border: 1px solid rgb(150, 150, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(7, 7, 7, 0.575);
}

.title-skills-champion {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-skills-champion p {
    margin: 0;
    transform: rotate(270deg);
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

.title-skills-champion-q-w {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-skills-champion-q-w p {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

.video-skill-champion {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid rgb(167, 167, 167);*/
}

.video-info-skill {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.border-video-skill {
    width: 490px;
    margin-right: 2%;
    height: 335px;
    position: absolute;
    background-color: transparent;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 1px;
}

.img-button-tabs {
    width: 55px;
    height: 55px;
    background-size: cover;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 1px;
}

.img-button-tabs:hover {
    border: 1px solid #da971a;
    transition: 0.5s;
}

.main-text-description-skill {
    width: 95%;
    display: flex;
}

.main-text-description-skill p {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 1%;
}

.description-text-skill {
    width: 95%;
    height: 55%;
}

.description-text-skill p {
    color: white;
    margin-left: 1%;
    font-size: 16px;
}

.type-text-skill {
    color: #da971a;
}

.type-text-skill-name {
    color: white;
}

.traco {
    color: white;
}

/*skins page*/


.carousel-item img {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.caption-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}

.content-inside-skins {
    background-color: rgba(0, 0, 0, 0.74);
    border: 1px solid rgb(150, 150, 150);
    backdrop-filter: blur(9px);
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.text-skin-inside {
    font-size: 40px;
    margin: 0;
}

.div-title-skin-content {
    width: 55%;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
}

.div-subtitle-skin-content {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.div-subtitle-skin-content img {
    width: 150px;
    height: 100px;
}