body {
    margin: 0;
    padding: 0;
    cursor: url('../../assets/cursor.png'), pointer;
}

.character-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}


.filter-character-page {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.699);
    backdrop-filter: blur(9px);
}

.info-character {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1px;
    background-color: transparent;
}

.image-character {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position: top;
}

.info-champions-text {
    width: 95%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid rgb(131, 131, 131);
    border-top: none;
    border-radius: 2px;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.856);
}

.champions-character-texts {
    /*backdrop-filter: blur(5px);*/
    width: 100%;
    height: 200px;
    position: absolute;
    top: -31%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

.subtitle-character-page {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 1%;
    text-transform: uppercase;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.85);
}


.title-character-page {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 100px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    /*text-shadow: 0px 0px 10px rgba(16,16,16,0.7);*/
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.85);
}

.content-characters-page-description {
    width: 100%;
    height: 100;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.character-page-description-type {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character-page-history {
    width: 50%;
    height: 80%;
    border-left: 1px solid rgb(131, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-type-history {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filter-image-character {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg,
            hsl(0deg 0% 2%) 0%,
            hsla(0, 0%, 71%, 0) 50%,
            hsla(0, 0%, 100%, 0) 100%);
}

.title-description-role{
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    margin-bottom: 2%;
}

.description-content-type img{
    width: 40px;
    height: 40px;
    margin-bottom: 1%;
}

.type-description-character{
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    margin-bottom: 1%;
}

.description-content-type{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description-content-function{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-function-character{
   text-transform: uppercase;
   font-size: 25px;
   margin: 0;
   margin-top: 2%;
   color: #CBAB70;
}

.text-content-history{
    font-size: 16px;
    width: 80%;
}