body{
    margin: 0;
    padding: 0;
}

.homepage{
    width: 100vw;
    height: 100vh;
}

.header-homepage {
    background-color: rgba(0, 0, 0, 0.199);
    backdrop-filter: blur(4px);
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.header-homepage .container-homepage {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navbar-homepage {
    display: flex;
    list-style-type: none;
    width: 400px;
    padding: 0;
    justify-content: space-between;
    font-weight: bolder;
}

.banner-homepage{
    width: 100%;
    height: 620px;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.text-banner{
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
}

.banner-homepage video{
    object-fit: fill;
    width: 100%;
}

.p-title-banner{
    color: white;
    font-size: 50px;
    margin: 0;
    text-align: center;
}

.p-subtitle-banner{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 5%;
}

.navbar_a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(211, 204, 204);
    height: 45px;
}

.navbar_a:hover{
    border-bottom: 1px solid white;
    color: white;
}

.navbar-logo img{
    width: 25px;
    height: 25px;
}