body {
    margin: 0;
    padding: 0;
    cursor: url('../../assets/cursor.png'),pointer;
}

.homepage {
    width: 100%;
    height: 100vh;
}

.header-homepage {
    background-color: rgba(128, 128, 128, .2);
    backdrop-filter: blur(15px);
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, .2);
}

.header-homepage .container-homepage {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navbar-homepage {
    display: flex;
    list-style-type: none;
    width: 400px;
    padding: 0;
    justify-content: space-between;
    font-weight: bolder;
}

.banner-homepage {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.text-banner {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-homepage video {
    object-fit: fill;
    width: 100%;
}

.image-title-banner {
    width: 35%;
    height: auto;
}

.navbar_a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(211, 204, 204);
    height: 45px;
    transition: all .4s;
    border-bottom: 2px solid transparent;
}

.navbar_a:hover {
    border-bottom: 2px solid white;
    color: white;
    cursor: url('../../assets/cursor.png');
}


.navbar-logo img {
    width: 25px;
    height: 25px;
}
