body {
    margin: 0;
    padding: 0;
    cursor: url('../../assets/cursor.png'),pointer;
}

.homepage {
    width: 100%;
    height: 100vh;
}


.banner-homepage {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.text-banner {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-homepage video {
    object-fit: fill;
    width: 100%;;
}

.image-title-banner {
    width: 35%;
    height: auto;
}

.homepage-content-game{
    width: 100%;
    margin-top: 15%;
    height: 60ch;
}

.homepage-content-game .container-homepage {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
}

.content-game-image{
    width: 50%;
    height: 95%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-border-image{
    width: 500px;
    height: 500px;
    border-top: 1px solid rgb(162, 233, 19);
    border-bottom: 1px solid rgb(162, 233, 19);
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-border-image img{
    width: 140%;
}

.content-game-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    width: 45%;
    height: 100%;
}

.title-text-game{
    width: 90%;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid rgb(97, 97, 97);
}

.main-title-text-game{
    width: 100%;
    margin-top: 20px;
}

.main-title-text-game p{
    font-weight: 500;
    font-size: 17px;
    margin: 0;
}

.main-subtitle-text-game p{
    font-size: 40px;
    margin: 0;
}

.title-text-game{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}


.descrition-text-game{
    width: 90%;
    margin-top: 4%;
    text-align: center;
    margin-bottom: 1%;
}

.descrition-text-game p{
    margin: 0;
    font-size: 14px
}

.content-game-video{
    width: 80%;
    height: 300px;
}

.video-assassins{
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.content-border-image.jinx{
    border-top: 1px solid rgb(203, 6, 252);
    border-bottom: 1px solid rgb(5, 105, 255);
}

.descrition-text-game.jinx{
    width: 90%;
    text-align: center;
    margin-bottom: 0;
}

.content-game-video.jinx{
    width: 80%;
    height: 300px;
    margin-bottom: 4%;
}

.content-game-text.jinx{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color:white;
    width: 45%;
    height: 95%;
}

.homepage-content-game.jinx{
    background-color: rgb(71, 71, 71);
    background-image: url('../../assets/img-background-jinx-homepage.jpeg');
    background-size: cover;
}

.title-text-game.jinx{
    border-bottom: 1px solid rgb(97, 97, 97);
}

.filter-img-background-jinx{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
}

.main-subtitle-text-game.jinx{
    letter-spacing: 1px;
}

.homepage-content-game.akali{
    background-image: url('../../assets/img-background-akali-homepage.jpg');
    background-size: cover;
}

.content-game-text.akali{
    color:white;
}

.homepage-content-game.thresh{
    background-size: cover;
    background-image: url('../../assets/img-background-thresh-homepage.jpg');
}

.content-border-image.thresh{
    border-top: 1px solid rgba(6, 252, 178, 0.562);
    border-bottom: 1px solid rgba(6, 252, 178, 0.616);
}