.box-teste-z {
  width: 100%;
  height: 350px;
  background-color: rgb(77, 77, 77);
  border-radius: 3px;
  display: flex;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.texte-x {
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.671);
  display: flex;
  flex-direction: column;
  padding: 4%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.title-champion-text p {
  margin: 0px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.subtitle-champion-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitle-champion-text p {
  margin: 2px;
  font-size: 18px;
  text-transform: lowercase;
}

.title-champion-text {
  width: 100%;
  display: flex;
  align-items: center;
}

.main-title-text-champion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1%;
}

.main-title-text-champion p {
  margin: 0;
}

.img-icon-lane {
  width: 25px;
  height: 25px;
  margin-top: 2px;
}

.listagem-campeoes {
  width: 46%;
  height: auto;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  margin: 2%;
  border-radius: 3px;
}

.container-listagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list-champions {
  width: 100%;
}

.more-content-button {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.more-content-button a {
  margin-left: 4%;
}

.informations-champion-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: black;
  border: 2px solid #CBAB70;
  color: black;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}


.informations-champion-button img {
  filter: invert(100);
}

.icon-inset-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.filter-inset-champion {
  width: 30px;
  height: 30px;
  background-color: #CBAB70;
  border-radius: 50%;
}


.filter-inset-champion:hover {
  background-color: #faa405;
  transition: 0.5s;
}

.informations-champion-button:hover {
  border: 2px solid #faa405;
  transition: 0.5s;
}